/* <nav> del sidebar general */
.sidebar {
	position: fixed;
	height: 100%;
	width: 250px;
	z-index: 1;
	top: 0;
	left: 0;
	background-color: #23262b;
	overflow-x: hidden;
	display: block;
	font-size: 1.2rem;
	padding-top: 1rem;
	max-height: 100%;
}

/* Sidebar container para los links */
.sidebar-container {
	display: flex;
	width: 250px;
	max-height: 100vh;
	flex-direction: column;
	justify-content: left;
	align-items: flex-start;
}

/* Logo con nombre de la sidebar */
.sidebar-header {
	display: flex;
	width: 100%;
}

.sidebar-logo {
	display: flex;
	align-items: center;
	gap: 15px;
	color: #eeeeee;
	margin: 0.5rem 2rem;
	cursor: pointer;
	text-decoration: none;
	font-size: 2rem;
	width: 100%;
}

.sidebar-logo:hover {
	text-decoration: none;
	color: inherit;
}

.icon-empresa {
	font-size: larger;
}

/* Conjunto de links */
.sidebar-menu {
	width: 100%;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	gap: 0.75rem;
	margin: 1rem 0;
}

/* Links de la sidebar */
.sidebar-link {
	color: #999999;
	display: flex;
	align-items: center;
	text-decoration: none;
	padding: 0.75rem 1rem;
	width: 88%;
	gap: 10px;
}

.sidebar-link:hover {
	color: #eeeeee;
	background-color: #383838;
	border: 0px solid transparent;
	border-radius: 1rem;
	-webkit-border-radius: 1rem;
	-moz-border-radius: 1rem;
	-ms-border-radius: 1rem;
	-o-border-radius: 1rem;
	transition: 0s;
	-webkit-transition: 0s;
	-moz-transition: 0s;
	-ms-transition: 0s;
	-o-transition: 0s;
	box-shadow: 0px 0px 11px 5px rgba(0, 0, 0, 0.1);
	-webkit-box-shadow: 0px 0px 11px 5px rgba(0, 0, 0, 0.1);
}

.sidebar-link.active {
	color: #eeeeee;
	background-color: #383838;
	border: 0px solid transparent;
	border-radius: 1rem;
	-webkit-border-radius: 1rem;
	-moz-border-radius: 1rem;
	-ms-border-radius: 1rem;
	-o-border-radius: 1rem;
	transition: 0s;
	-webkit-transition: 0s;
	-moz-transition: 0s;
	-ms-transition: 0s;
	-o-transition: 0s;
	box-shadow: 0px 0px 11px 5px rgba(0, 0, 0, 0.1);
	-webkit-box-shadow: 0px 0px 11px 5px rgba(0, 0, 0, 0.1);
}

.sidebar-link:active {
	background-color: #383838;
	transition: 0s;
	-webkit-transition: 0s;
	-moz-transition: 0s;
	-ms-transition: 0s;
	-o-transition: 0s;
}

.siderbar-footer {
	display: flex;
	flex-direction: column;
	position: absolute;
	width: 85%;
	align-self: center;
	top: auto;
	bottom: 2rem;
}

hr {
	border: 0 none;
	border-top: 1px solid;
	height: 0px;
	width: 90%;
	border-color: #323435;
}
